h1, h2 {
  font-weight: normal;
}

h3 {
  margin: 12px;
}

img {
  width: 80%;
  border-radius: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

i {
  font-size: 20px;
}

.btn-starred {
  background-color: #0d790d;
}

.margin-t-6 {
  margin-top: 6px;
}
