* {
  margin: 0;
  paddin: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

i {
  font-size: 30px;
}

img {
  width: 20%;
  border-radius: 15px;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: #ddd;
}

.arrow-position {
  margin: 8em auto;
}

.position-footer-card {
  position: relative;
  top: 140px;
  left: -80px;
}

.container .post-card {
  background-color: white;
  min-height: 280px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 0.3rem;
  .post-card__nav {
    display: flex;
    border-radius: 0.3rem;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 70px;
      background-color: #22313F;
      border-bottom-left-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
      li {
        text-align: center;
        border-bottom: 2px solid rgb(27, 38, 50);
        &:last-child {
          border: none;
        }
        a {
          display: block;
          color: #fff;
          height: 90px;
          line-height: 90px;
          text-decoration: none;
        }
        &:first-child a {
          border-top-left-radius: 0.3rem;
        }
        &:last-child a {
          border-bottom-left-radius: 0.3rem;
        }
        a:hover:not(.active) {
          background-color: #2d3f53;
          height: 90px;
        }
      }
    }
  }
}

.active {
  background-color: #f44242;
  color: white;
}

.ion {
  font-size: 1.5rem;
}

.post-card__content {
  display: flex;
  position: relative;
  width: calc(100% - 70px);
  height: auto;
  padding: 25px;
}

.post-card__info {
  h1 {
    display: block;
    margin: 0;
    font-size: 1.1em;
    font-weght: 100;
    color: #333;
  }
  h5 {
    display: block;
    margin-top: 0.7rem;
    font-weight: 100;
    span {
      color: #333;
      font-weight: 300;
    }
  }
  p {
    margin-top: 1rem;
    color: #333;
    font-size: 0.7em;
    font-weight: 300;
    line-height: 1.3rem;
    text-align: left;
  }
  a {
    color: #f44242;
    text-decoration: none;
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.7em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.post-card__img {
  width: 100%;
  background-image: url('http://cdn.wallpapersafari.com/27/8/ML05mo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  transition: all 1s;
  .post-card__social ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 2rem;
    width: 100%;
    text-align: right;
    color: white;
    li {
      display: inline-block;
      text-shadow: 0 1px rgba(0, 0, 0, 0.5);
      &:first-child {
        margin-right: 2rem;
      }
      i {
        margin-right: 0.6rem;
        transition: 0.2s all;
      }
      a {
        transition: 0.2s all;
        &:hover > i {
          &.ion-heart {
            color: #f44242;
            transform: rotate(-15deg) scale(1.5);
          }
          &.ion-chatbox {
            color: #2d3f53;
            transform: rotate(-15deg) scale(1.5);
          }
        }
      }
      span {
        display: inline-block;
        vertical-align: 3px;
        font-family: 'Roboto', 'Montserrat', sans-serif;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 34rem) {
  .container .post-card {
    width: 304px;
    height: 550px;
    margin: 0px;
    position: relative;
    .post-card__nav {
      width: 100%;
      ul {
        height: 70px;
        width: 100%;
        border-top-right-radius: 0.3rem;
        border-top-left-radius: 0.3rem;
        li {
          float: left;
          display: inline-block;
          border-bottom: none;
          border-right: 2px solid rgb(27, 38, 50);
          a {
            height: 70px;
            max-width: 100px;
            width: 32vw;
            line-height: 80px;
            text-decoration: none;
          }
          &:last-child a {
            border-radius: 0;
            border-top-right-radius: 0.3rem;
          }
          a:hover:not(.active) {
            width: 100px;
            height: 70px;
          }
        }
      }
    }
    .post-card__content {
      position: absolute;
      top: calc(70px + 40%);
      justify-content: center;
      left: 0;
      width: 100%;
      align-items: center;
    }
  }
  .post-card__info {
    text-align: center;
    h1, p {
      text-align: center;
    }
  }
  .post-card__img {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 70px;
    left: 0;
    background-position: 0rem;
    border-radius: 0;
  }
}
